{% load staticfiles %}


<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SealDeal - Your CRM for making your business run</title>

    <!-- Bootstrap Core CSS -->

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet">
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">





    <!-- Theme CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->


</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SealDeal.com</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll " href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll " href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>

                    {%if not user.is_authenticated %}
                    <li>
                        <a class="page-scroll"  href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll"  href ="{% url 'register' %}" >SignUp</a>
                    </li>
                    {%endif%}
                   {%if user.is_authenticated %}
                <!--    <li>
                        <a class="page-scroll"  href = "{% url 'dashboard' %}">Dashboard</a>
                    </li>-->
                    <li>
                        <a class="page-scroll"  href = "{% url 'logout' %}">Logout</a>
                    </li>
                    {%endif%}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>




    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Studio!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>




</div>


    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Here's what we have for you.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Build reports without help from IT. </h4>
                    <p class="text-muted">Our CRM analytics software keeps you updated with customised sales forecasting reports that you can build with ease. Just drag and drop the fields, filters, groupings, and charts that you want, and get an immediate real-time view.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Close more deals</h4>
                    <p class="text-muted">No matter the size of your company, all sales reps share one common goal — the desire to be a top performer. We can help with that.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Collaborate on files as a team from anywhere, on any device with safety.</h4>
                    <p class="text-muted">maintain complete control over sharing settings, including who has viewing, editing, and collaboration rights.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link">
                        <div class="portfolio-hover" >
</div>

                        <img src="{% static 'images/portfolio/roundicons.png' %}" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Finding Clients</h4>
                        <p class="text-muted">Lead Generation</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="{% url 'home' %}" class="portfolio-link"   >
                        <div class="portfolio-hover">

                        </div>
                        <img src="{% static 'images/portfolio/startup-framework.png'%}" class="img-responsive">

                    </a>
                    <div class="portfolio-caption">
                        <h4>Talk to your Clients</h4>
                        <p class="text-muted">Chat Box</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="{% url 'complaint_new' %}" class="portfolio-link">
                        <div class="portfolio-hover">

                        </div>
                        <img src="{% static 'images/download.jpg'%}" style="width:360px; height:261px" class="img-responsive">

                    </a>
                    <div class="portfolio-caption">
                        <h4>We are there for you</h4>
                        <p class="text-muted">Complaint Forum</p>
                    </div>
                </div>

            </div>
        </div>
</section>
    <!-- About Section -->
    <section id="about" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Know us more.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2>WHAT IS CRM?</h2>
                    <p><b>Customer relationship management (CRM)</b> is a term that refers to practices, strategies and technologies that companies use to manage and analyze customer interactions and data throughout the customer lifecycle, with the goal of improving business relationships with customers, assisting in customer retention and driving sales growth. CRM systems are designed to compile information on customers across different channels -- or points of contact between the customer and the company -- which could include the company's website, telephone, live chat, direct mail, marketing materials and social media. CRM systems can also give customer-facing staff detailed information on customers' personal information, purchase history, buying preferences and concerns.</p><br>
                    <h2 style="padding:10">WHAT IS SEALDEAL?</h2>
                    <p><b>SealDeal</b> is an India based cloud computing website. SealDeal's customer relationship management (CRM) service is broken down into several broad categories: Service Cloud and Lead Generation. It also provides chat box facility to its customers. The customers can launch their complaints with SealDeal in case of violation of SLA(Service Level Agreement) using their compaint forum. Also, </p>
                 </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Meet the team Members.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'images/team/aishna.jpg'%}" class="img-responsive img-circle" alt="">
                        <h4>Aishna Gupta</h4>
                        <p class="text-muted">Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/GuptaAishna"><i class="fa fa-twitter" style="padding:10"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/aishna.gupta/"><i class="fa fa-facebook" style="padding:10"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/aishna-gupta-14b076103"><i class="fa fa-linkedin" style="padding:10"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'images/team/shreyacr.jpg'%}" class="img-responsive img-circle" alt="">
                        <h4>Shreya Gupta</h4>
                        <p class="text-muted">Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/Shreya96Gupta"><i class="fa fa-twitter" style="padding:10"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/shreya.gupta.16144"><i class="fa fa-facebook" style="padding:10"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/shreya-gupta-361a92126"><i class="fa fa-linkedin" style="padding:10"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'images/team/shreya.jpg'%}" class="img-responsive img-circle" alt="">
                        <h4>Shreya Gupta</h4>
                        <p class="text-muted">Developer</p>
                        <ul class="list-inline social-buttons">
                            <!--<li><a href="#"><i class="fa fa-twitter" style="padding:10"></i></a>-->
                            <!--</li>-->
                            <li><a href="https://www.facebook.com/profile.php?id=100000982317595"><i class="fa fa-facebook" style="padding:10"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/shreya-gupta-274b45124"><i class="fa fa-linkedin" style="padding:10"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!---->

    <footer style=" bottom: 0px; width: 100%; height: 100px; background-color: grey;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; SealDeal.com</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"style="padding:10"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"style="padding:10"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"style="padding:10"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li style="color:black"><a href="">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/agency.min.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>
    <script src="{% static 'js/agency.js' %}"></script>
    <script type="text/javascript">
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
    </script>

</body>

</html>
