
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   <style>
body{
    background: url("https://buidln.clipdealer.com/002/451/248//previews/1--2451248-blue%20puzzle%20in%20conceptual%20form%20for%20your%20text%20or%20background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

</style><div class="container">
        <div class="page-header">
            <h2> <a href="{% url 'dashboard' %}" class="top-menu"><span class="glyphicon glyphicon-home"> Dashboard</span></a>
           </h2>
        </div>
  <h2>Services Provided by your company</h2>
  <!--<p>The .table-responsive class creates a responsive table which will scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, there is no difference:</p>-->
  <div class="table-responsive table-bordered table-stripped">
  <table class="table">
    <thead>
      <tr>
        <!--<th>#</th>-->
        <th style="text-align: center">Service Name</th>
        <th style="text-align: center">Min Duration</th>
        <th style="text-align: center">Service Objective</th>
        <th style="text-align: center">Description</th>

      </tr>
    </thead>
    <tbody>
    {% for post in posts %}

      <tr style="text-align: center">


          <!--{ print( post ) }-->
          <td>{{ post.service_name }}</td>
          <td>{{ post.min_duration}}</td>
          <td>{{ post.service_objective}}</td>
          <td>{{ post.service_description}}</td>

    </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</div>

</body>
</html>


