{% extends 'base.html' %}

{% block content %}

<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
                $(function() {
                        $( "#id_service_date" ).datepicker({
                                dateFormat: "yy-mm-dd",
                                defaultDate: "+1w",
                                changeMonth: true,
                                numberOfMonths: 2,
                                onClose: function( selectedDate ) {
                                        $( "#id_service_date" ).datepicker( "option", "minDate", selectedDate );
                                }
                        });
                });
        </script>



  <script>
                $(function() {
                        $( "#id_schedule" ).datepicker({
                                dateFormat: "yy-mm-dd",
                                defaultDate: "+1w",
                                changeMonth: true,
                                numberOfMonths: 2,
                                onClose: function( selectedDate ) {
                                        $( "#id_service_date" ).datepicker( "option", "minDate", selectedDate );
                                }
                        });
                });
        </script>      

<head>

<body>

<form method="POST" class="post-form">{% csrf_token %}
	{{form.as_p}}
{%for field in form%}
{%if field == "service_date" %}


{%endif%}
{%endfor%}


<button type="Submit" class="save btn btn-default">
	Save
</button>
</form>
</body>
{% endblock %}