


    {% extends 'base.html' %}
{% block profile %}

    <p>

{%if user.is_authenticated%}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <table>&nbsp;&nbsp;&nbsp;&nbsp;
       <tr> <p>Username: {{ user.username }}</p></tr>
      <tr><p>Email: {{ user.email }}</p></tr>

    <p>Company: {{ company }}</p>
    {%comment%}
    {%if user.customer == True%}
     <p>A Customer</p>
    {%endif%}
     {%if user.customer == False%}
     <p>A Service Provider</p>
    {%endif%}
    {%endcomment%}
    {%endif%}
</table>
    {%endblock%}
