{% extends 'base_login.html' %}
{%load staticfiles %}
{%block afterRegister%}
<head>
    <meta charset="utf-8" >
    <title>Register</title>

  
    <link rel="stylesheet" type="text/css" href ="{% static 'chat/login.css'%}" />
    <style type="text/css">
    	input{
			width: 100%;
    	}
        label{
            font-size: 18px;
        }
    </style>
</head>


{%if q%}
<center><p style = "font-family: Arial; color: Red;"> <font size="4">To successfully register activate the link on your email id.</font> </p></center>
{%endif%}

{%endblock%}