{% load staticfiles %}

<html>

<head>
    <title>SealDeal</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'chat.css' %}">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
input[type=text] {
    width: 80%;
    /*padding: 12px 20px;*/
    border: 1px solid black;
}

body{
    background: url("https://buidln.clipdealer.com/002/451/248//previews/1--2451248-blue%20puzzle%20in%20conceptual%20form%20for%20your%20text%20or%20background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


</style>

</head>

<body>
{% block content %}






 <h1> <a href="{% url 'dashboard' %}" class="top-menu"><span class="glyphicon glyphicon-home"> Dashboard</span></a></h1>


{%if not user.is_authenticated %}




{% block login %}
{%endblock%}


{%block Register%}
{%endblock%}


{%endif%}






{%if user.is_authenticated%}



 <div class="container">
                <div class="col-lg-5 col-xs-12 col-centered">



    <div id="chat-body" class="panel panel-default">
        <div id="msg-list-div" class="panel-body">
            <ul id="msg-list" class="list-group">



{%if not request.user.is_superuser%}
    <li class="text-left list-group-item">May I help you? </li>


{% for obj in chat %}
    {% if obj.user == request.user %}
        <li class="text-right list-group-item">{{ obj.message }}</li>
    {% elif obj.user.is_superuser %}
        <li class="text-left list-group-item">{{ obj.message }}</li>
    {% endif %}
{% endfor %}



{%else%}

{% for obj in chat %}
        {% if obj.user == request.user %}
        <li class="text-right list-group-item">{{ obj.message }}</li>
        {% else %}
        <li class="text-left list-group-item">{{ obj.message }}</li>
         {% endif %}

{% endfor %}

{%endif%}

            {%comment%}
                {% for obj in chat %}
                    {% if obj.user == request.user %}
                        <li class="text-right list-group-item">{{ obj.message }}</li>
                      {% elif obj.user.is_superuser %}
                        <li class="text-left list-group-item">{{ obj.message }}</li>
                    {% endif %}
                {% endfor %}

            {%endcomment%}

                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>




      </ul>



    <form id="chat-form" method="post" action="/post/">
        <div id="chat-bottom" class="input-group">

            <input type="text" id="chat-msg" name="chat-msg" class="form-control" size="40" >
            <input class="btn btn-default" id="send" type="submit" value="Send">
        </div>
    </form>



</div>
</div>
</div>
</div>

{%endif%}
{% endblock %}
</body>

<script src="{% static 'chat.js' %}"></script>
</html>